h1 {
  color: rgb(139, 12, 12);
  font-size: 5rem;
}
h2 {
  color: black;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
form {
  background: rgba(128, 128, 128, 0.185);
  padding: 2rem;
}
input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 0.8rem;
}
button {
  padding: 0.5rem;
  background-color: bisque;
  border: 1px solid white;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.664);
}
